[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pytest-cov = "*"
pytest-black = "*"
pytest-flake8 = "*"
flake8-isort = "*"
pytest-mypy = "*"
sphinx-rtd-theme = "*"
doc8 = "*"

[packages]
pyserial = "*"

[pipenv]
allow_prereleases = true
